.rh-main-container {
    height: calc(100vh - 65px);
    background-color: #fffde8;
    padding: 30px;
    color: #4c8492;
    display: flex;
    flex-direction: row;
}

.rh-category-container {
    width: 33%;
    // min-width: 325px;
    // max-width: 325px;
    height: 100%;
    color: #4c8492;
}

.rh-sections-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    color: #4c8492;
    overflow: auto;
    border-top: 1px solid #4c8492;
}

.catRow {
    padding: 5px;
    color: #4c8492;
}

.catRow:hover {
    background-color: rgba(76,132,146, .2);
    cursor: pointer;
}

.rh-meals-container {
    margin-left: 10px;
    width: 33%;
    color: #4c8492;
    height: 100%;
    overflow: auto;
}

.title {
    margin: 15px;
    color: #4c8492;
}

.rh-meals-list-container {
    height: 89.5%;
    overflow: auto;
    padding: 10px;
}

.rh-meal-container {
    background-color: #fffde8;
    margin-left: 10px;
    width: 33%;
}

.rh-details-container {
    padding: 10px;
    color: #4c8492;
    height: 89.5%;
    overflow: auto;
}

img {
    // max-height: 200px;
    width: 100%;
    border-radius: 5px;
}

.ingredient {
    margin: 3px 0px;
    font-size: 10px;
}

#instructions {
    font-size: 10px;
    text-indent: 30px;
    margin-top: 5px;
}

#source-link {
    margin: 5px 0px;
    font-size: 12px;
    width: 100%;
    word-wrap: break-word;
}

iframe {
    margin-top: 5px;
}